body {
  background-color: mediumseagreen;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
}

main {
  padding: 16px;
}

h1,
h2,
p {
  color: beige;
  text-shadow: 3px 2px 5px rgb(87, 143, 2);
}

p {
  font: italic bold 16px "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p > span {
  font-style: normal;
}

#message {
  text-shadow: 1px 1px 4px rgb(30, 48, 4);
  letter-spacing: 2px;
  text-align: center;
}

.box-message {
  width: 50%;
  height: 100px;
  background-color: #95e799;
  box-shadow: 1px 1px 5px rgb(35, 56, 2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 8px;
}

#click-button {
  background-color: #1b6e4f; /* verde médio */
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, transform 0.2s;
}

#click-button:hover {
  background-color: #45a049;
  transform: scale(1.03);
}

#click-button:active {
  background-color: #388e3c;
  transform: scale(0.98);
}

@media (width <= 425px) {
  .box-message {
    width: 90%;
  }
}
